absl-py==1.4.0
aiofiles==22.1.0
aiosqlite==0.18.0
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens==2.2.1
attrdict==2.0.1
attrs==22.2.0
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.11.2
bleach==6.0.0
brotlipy==0.7.0
cachetools==5.3.0
certifi==2024.2.2
cffi
chardet
charset-normalizer==3.3.2
cmake==3.26.0
comm==0.1.2
contourpy
cryptography
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
filelock
fonttools
fqdn
fsspec
google-auth
google-auth-oauthlib
grpcio
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jupyter-client
jupyter-core
jupyter-events
jupyter-server
jupyter-server-fileid
jupyter-server-terminals
jupyter-server-ydoc
jupyter-ydoc
jupyterlab
jupyterlab-language-pack-zh-cn
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lit
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
pkgutil-resolve-name
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycosat
pycparser
Pygments
pyOpenSSL
pyparsing
pyrsistent
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rsa
safetensors
Send2Trash
six
sniffio
soupsieve
stack-data
supervisor
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
terminado
tinycss2
tokenizers
tomli
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
typing-extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
y-py
ypy-websocket
zipp
